@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 229, 229, 229;
  --background-rgb: 10, 10, 10;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 229, 229, 229;
    --background-rgb: 10, 10, 10;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* ANIMATIONS */

.fade-in {
  opacity: 0;
  animation: fadeIn 250ms ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
