@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}

:root {
  --foreground-rgb: 229, 229, 229;
  --background-rgb: 10, 10, 10;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 229, 229, 229;
    --background-rgb: 10, 10, 10;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));

  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: white;
  transform-origin: 0%;
  z-index: 1000;
}

/* ANIMATIONS */

.fade-in {
  opacity: 0;
  animation: fadeIn 250ms ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  opacity: 0;
  animation: fadeOut 250ms ease-in forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.slide-from-top {
  animation: slide-from-top 1s ease;
}
@keyframes slide-from-top {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  60% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.slide-from-bottom {
  animation: slide-from-bottom 1s ease;
}
@keyframes slide-from-bottom {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  60% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.slide-from-left {
  animation: from-slide-left 500ms ease;
}
@keyframes from-slide-left {
  0% {
    opacity: 0;
    transform: translateX(-25px);
  }
  60% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeOut {
  50% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    display: none;
  }
  100% {
    display: none;
  }
}

.to-hidden {
  animation: fadeOut 1.5s;
  animation-fill-mode: forwards;
}

@keyframes divShrink {
  50% {
    @apply w-24;
  }
  100% {
    @apply w-10;
  }
}

.div-shrink {
  animation: divShrink 2.5s ease;
  animation-fill-mode: forwards;
}
